<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325051086982-suu8k7364gvu49lqe0pmln5g3f8d2m6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325051086982-suu8k7364gvu49lqe0pmln5g3f8d2m6e</string>
	<key>API_KEY</key>
	<string>AIzaSyCHubx98XohXCTTA91x4CZw5mSplfRgE0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>325051086982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bengianil.MoviesApplication</string>
	<key>PROJECT_ID</key>
	<string>ios-ecommerce-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-ecommerce-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325051086982:ios:f420e058a5c0029763f907</string>
</dict>
</plist>